<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Capstone{% endblock %}</title>
    <script src="https://kit.fontawesome.com/e603cb2c46.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/theaterjs/dist/theater.min.js"></script>
    <script src="{% static 'capstone/apps.js' %}?{% now 'U' %}"></script>
    <link rel="shortcut icon" href="{% static 'capstone/small_logo.png' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'capstone/index.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'capstone/style.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
          <a href="{% url 'index' %}"><img class="logo" src="{% static 'capstone/logo.png' %}?{% now 'U' %}" alt=""></a>
          
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_trips' %}">Your Trips<i class="fas fa-car"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trips' %}">Trips<i class="fas fa-suitcase-rolling"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_trip' %}">Create Trip<i class="fas fa-plus-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'messages' %}">Messages<i class="fas fa-envelope"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'set_timezone' %}">Settings<i class="fas fa-cog"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign in<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register<i class="fas fa-user-plus"></i></a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="page-wrapper">
        {% load tz %}
        {% block body %}
        
        {% endblock %}
    </div>
    
    <div class="footer">
        <div class="footer-content">

            <br>
            <br>
            <div class="footer-desc">
                This website was made for completing Harvard CS50W course.
                This is the last project of the course called Capstone. For getting 
                acces to the private repository of this project you can send me an e-mail or direct message by 
                <a href="https://www.instagram.com/mariijalif" target="_blank">Instagram</a>.
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://github.com/GambetaClub" class="icon-button github" target="_blank"><i class="fab fa-github"></i><span></span></a>
                <a href="https://www.instagram.com/mariijalif" class="icon-button instagram" target="_blank"><i class="fab fa-instagram"></i><span></span></a>
            </div>
        </div>
        <div class="footer-bottom">
            <i class="far fa-envelope"></i>  @marigyt.maj@gmail.com | Designed by Mariano Augusto Jalif
        </div>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</html>