{% extends "capstone/layout.html" %}

{% block body %}

    <script>

            function check(e){
                e.preventDefault();
                let selection  = document.getElementById('receiver_select')
                if(selection.value == ""){
                    document.getElementById("button").classList.remove("clic");
                    document.getElementById("button").classList.add("button");
                    swal("Warning", "You have selected no receiver for your message.", "warning");
                    return false;
                }
                else{
                    document.getElementById('message_form').submit()
                }
            }

        function read(message_id){
        fetch(`/read_message/${message_id}`)
        .then(response => response.text())
        .then(text => {
            var message_div = document.getElementById(message_id)
            message_div.querySelector('.unread').classList.remove('unread')
            message_div.querySelector('.dot').setAttribute("hidden","")
        })
        }

    </script>

    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}

    <form id="message_form" action="{% url 'send_message' %}" method="POST" onsubmit="return check(event)">
        {% csrf_token %}
            <div class="ui-input-container">
                <label class="ui-form-input-container">
                    <textarea class="ui-form-input" id="word-count-input" name="content"></textarea>
                    <span class="form-input-label">Message</span>
                </label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6"> 
                    <select name="receiver" id="receiver_select" class="selectpicker" data-live-search="true">
                        <option value="" selected disabled>Select a receiver</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.username}}</option>
                        {% endfor %}    
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <button id="button" class="button" type="submit">SEND</button>
                </div>
            </div>
    </form>
    <h5>Received messages</h5>
    {% if received_messages %}
        <ul>
            {% for message in received_messages %}
            {% if message.read|stringformat:'r' == 'True'%}
                <li>
                    <div>{{message.receiver}}: {{message.content}}</div><div class="timestamp">{{message.timestamp}}<div>
                    <hr>
                </li>
            {% else %}
            <li>
                <div id="{{message.id}}" onclick="read({{message.id}})"> <span class="dot"></span>
                    <span class="unread">{{message.receiver}}: {{message.content}}</span>
                    <div class="timestamp">{{message.timestamp}}</div>
                </div>
                <hr>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <strong>No messages :(</strong>
        <hr> 
    {% endif %}

    <h5>Sent messages</h5>
    {% if sent_messages %}
        <ul>
            {% for message in sent_messages %}
                <li>
                    <div>{{message.receiver}}: {{message.content}}</div> <small>{{message.timestamp}}</small><hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        No messages
    {% endif %}
    




{% endblock %}