{% extends "capstone/layout.html" %}

{% block body %}

    <div hidden class="alert alert-danger" id="alert">
        
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert" id="alert">
        {{message}}
    </div>
    {% endif %}
    
    <h1>Trips</h1>

    <form id="form" action="{% url 'search_trip' %}" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-4">
                <h6>Origin</h6>
                <input type="search" name="o_state" placeholder="State" class="form-control">
                <input type="search" name="o_city" placeholder="City" class="form-control">
            </div>
            <div class="form-group col-4">
                <h6>Destination</h6>
                <input type="search" name="d_state" placeholder="State" class="form-control">
                <input type="search" name="d_city" placeholder="City" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if trips %}
    <h6>Trips Available:</h6>
    <ul>
    {% for trip in trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">
             <div><strong>Origin:</strong> {{trip.origin.id_state.state_name}}, {{trip.origin.city}}</div>
             <div><strong>Destination:</strong> {{trip.destination.id_state.state_name}}, {{trip.destination.city}}</div> 
             <div><strong>Departure:</strong> {{trip.date}} at {{trip.time}}</div>
             <div><strong>Seats Available:</strong> {{trip.avai_seats}} </div>
            </a>
        </li><hr>
    {% endfor %}

    {% else %}

    No results
    
    </ul>
    {% endif %}




{% endblock %}