{% extends "capstone/layout.html" %}

{% block body %}

    <div hidden class="alert alert-danger" id="alert">
        
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert" id="alert">
        {{message}}
    </div>
    {% endif %}
    
    <h3>Search a Trip <i class="fas fa-search"></i></h3>

    <form id="form" action="{% url 'search_trip' %}" method="GET">
        {% csrf_token %}
        <h4>From</h4>
            <div class="d-flex justify-content-center">
                <div class="form__group">
                    <input type="search" class="form__field" placeholder="State" name="o_state" style="width: 430px;"/>
                    <label for="o_state" class="form__label">State</label>  
                </div>
                <div class="form__group">
                    <input type="search" class="form__field" placeholder="City" name="o_city" style="width: 430px;"/>
                    <label for="o_city" class="form__label">City</label>  
                </div>
            </div>
        <h4>To</h4>
            <div class="d-flex justify-content-center" >
                <div class="form__group">
                    <input type="search" class="form__field" placeholder="State" name="d_state" style="width: 430px;"/>
                    <label for="d_state" class="form__label">State</label>  
                </div>
                <div class="form__group">
                    <input name="d_city" type="search" class="form__field" placeholder="City" style="width: 430px;"/>
                    <label for="d_city" class="form__label">City</label>  
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <button id="button" class="button" type="submit" style="width: 260; height: 120;">SEARCH</button>
                </div>  
            </div>
    </form>
    <br>
    <br>
    {% if trips %}
    <h3>Trips Available <i class="fas fa-suitcase"></i></h3>
    <ul>
    {% for trip in trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">
             <div><div class="strong">Origin:</div> {{trip.origin.id_state.state_name}}, {{trip.origin.city}}</div>
             <div><div class="strong">Destination:</div> {{trip.destination.id_state.state_name}}, {{trip.destination.city}}</div> 
             <div><div class="strong">Departure:</div> {{trip.date}} at {{trip.time}}</div>
             <div><div class="strong">Seats Available:</div> {{trip.avai_seats}} </div>
            </a>
        </li><hr>
    {% endfor %}
    
    {% else %}

    <h3>No results</h3>
    
    </ul>
    {% endif %}

    <p class="low">All trip times are syncronized with UTC Time</p>


{% endblock %}