{% extends "capstone/layout.html" %}

{% block body %}
<script>

    function get_passengers(trip_id){
    fetch(`/passengers/${trip_id}`)
    .then(response => response.text())
    .then(text => {
        let passengers = document.getElementById('passengers');
        passengers.textContent = text;
    });
    fetch(`/seats/${trip_id}`)
    .then(response => response.text())
    .then(text => {
        let seats = document.getElementById('seats');
        seats.textContent = text;
    })
    }

    function be_passenger(trip_id){
    fetch(`/add_passenger/${trip_id}`)
    .then(response => response.status)
    .then(status => {
        if (status == 403){
            swal("Error", "There are not seats available for this trip.", "error")
        }else{         
            let requestButton = document.getElementById('be_passenger')
            get_passengers(trip_id)
            if(requestButton.innerHTML.indexOf('LIST FOR TRIP') != -1){
                swal("Success", "You have succesfully listed for the trip.", "success")
                requestButton.textContent = 'UNLIST FROM TRIP'
            }else{
                swal("Success", "You have succesfully unlisted for the trip.", "success")
                requestButton.textContent = 'LIST FOR TRIP'
            }
        }
    });
    }

</script>

    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}


    <div id="success"> 

    </div>
    
    <h2>Trip</h2>

    {% if trip %}

        <h5><span class="strong">Origin: </span>{{trip.origin}} </h5> 
        <h5><span class="strong">Destination: {{trip.destination}}</h5>
        <h5><span class="strong">Departure: </span>{{trip.date}} at {{trip.time}} </h5>
        <h5><span class="strong">Driver: </span>{{trip.driver}}</h5>
        <h5><span class="strong">Duration: </span>{{trip.est_time}} </h5>
        
        <h5>
        <span class="strong">Seats Available:</span>
        <span id="seats">{{trip.avai_seats}}</span>
        </h5>

        {% if trip.passengers %}
            {% if self %}

            <h5><div id="passengers">
                <span class="strong">Passengers: </span>{{trip.passengers.count}}
                <div>
                {% for passenger in passengers %}

                    {{passenger.username}}, <br>

                {% endfor %}
                </div>
            </div></h5>
            {% else %}
            <h5>
                <span class="strong">Passengers: </span>
                <span id="passengers">{{trip.passengers.count}}</span>
            </h5>
            {% endif %}
        {% else %}
            <h5>No passengers yet.</h5>
        {% endif %}

        {% if self %}
        <form action="{% url 'delete_trip' trip.id %}" method="POST">
            {% csrf_token %}
            <button name="request" type="submit" id="request_button" class="button">Delete Trip</button>
        </form>

        {% else %}
        <div class="d-flex justify-content-center">
            <button name="request" type="submit" id="be_passenger" class="button" onclick="be_passenger({{trip.id}})" style="max-width: 200px; min-width: 15%;">
                {% if is_passenger %}
                UNLIST FROM TRIP
                {% else %}
                LIST FOR TRIP
                {% endif %}
            </button>
        </div>
            
        {% endif %}
    
    {% else %}

        We could't find that trip :(

    {% endif %}
    




{% endblock %}