{% extends "capstone/layout.html" %}

{% block body %}

    <script>

        function validate(selection){
        var ddl = document.getElementById(selection);
        var selectedValue = ddl.options[ddl.selectedIndex].value;
            if (selectedValue == ""){
                return true;
            }
            else{
                return false;
            }
        }

        function get_cities(state_id, place){
        fetch(`/get_cities/${state_id}`)
        .then(response => response.text())
        .then(data => {
            var info = document.getElementById(place);
            info.innerText = null
            new_data = data.split(',')
            new_data.pop()
            var opt_group = document.createElement('optgroup');
            opt_group.label = "City"
            info.appendChild(opt_group)
            for (let index = 0; index < new_data.length; index++) {
                var opt = document.createElement('option');
                opt.appendChild( document.createTextNode(new_data[index]));
                opt.value = new_data[index]; 
                opt_group.appendChild(opt);
            }
            $('.selectpicker').selectpicker('refresh');
        })
        
        };
        

        document.addEventListener('DOMContentLoaded', (event) => {

            var form = document.getElementById('form')
            
            form.addEventListener('submit', (e) => {

            let o_city = validate('o_city')
            let d_city = validate('d_city')
            
            if(o_city || d_city == true){
                e.preventDefault()
                swal("Imposible to Search", 'Please fill all blanks to search a trip', "error");
            }
        })
        });
    </script>

    <div hidden class="alert alert-danger" id="alert">
        
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert" id="alert">
        {{message}}
    </div>
    {% endif %}
    
    <h1>Trips</h1>

    <form id="form" action="{% url 'search_trip' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h6>Origin</h6>
            <select id="o_state" name='o_state' class="selectpicker" data-live-search="true" onchange="get_cities(document.querySelector('#o_state').value, 'o_city')">
                <optgroup label="State">
                <option value="" selected disabled>Choose a State</option>
                {% for state in states %}
                <option id="o_state_option" value="{{state.id}}">{{state.state_name}}</option>
                {% endfor %}
                </optgroup>
            </select>
            <select id="o_city" name="o_city" class="selectpicker" data-live-search="true">
                <option value="" disabled selected>Choose a City</option>
            </select>
        </div>
        <div class="form-group">
            <h6>Destination</h6>
            <select id="d_state" name="d_state" class="selectpicker" data-live-search="true" onchange="get_cities(document.querySelector('#d_state').value,'d_city')">
                <optgroup label="State">
                <option value="" selected disabled>Choose a State</option>
                {% for state in states %}
                <option id="d_state_option" value="{{state.id}}">{{state.state_name}}</option>
                {% endfor %}
                </optgroup>
            </select>
            <select id="d_city" name="d_city" class="selectpicker" data-live-search="true">
                <option value="" disabled selected>Choose a City</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if trips %}
    <h6>Current trips:</h6>
    <ul>
    {% for trip in trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">{{trip}}</a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}




{% endblock %}