{% extends "capstone/layout.html" %}

{% block body %}
    <div hidden class="alert alert-danger" id="alert">
        
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert" id="alert">
        {{message}}
    </div>
    {% endif %}
    
    <h2>Your Trips</h2>

    {% if p_trips %}
        <h5>Trips in which you are a passenger.</h5>
        <ul>
        {% for trip in p_trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">
             <div><div class="strong">Origin:</div> {{trip.origin.id_state.state_name}}, {{trip.origin.city}}</div>
             <div><div class="strong">Destination:</div> {{trip.destination.id_state.state_name}}, {{trip.destination.city}}</div> 
             <div><div class="strong">Departure</div> {{trip.date}} at {{trip.time}}</div>
            </a>
        </li><hr>
        {% endfor %}
        </ul>
    {% else %}
        <h5 class="heading">You are not a passener for any trip yet.</h5>
        <br><br>
    {% endif %}

    {% if d_trips %}
        <h5>Trips in chich you are a driver:</h5>
        <ul>
        {% for trip in d_trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">
             <div><div class="strong">Origin:</div> {{trip.origin.id_state.state_name}}, {{trip.origin.city}}</div>
             <div><div class="strong">Destination:</div> {{trip.destination.id_state.state_name}}, {{trip.destination.city}}</div> 
             <div><div class="strong">Departure</div> {{trip.date}} at {{trip.time}}</div>
            </a>
        </li><hr>
        {% endfor %}
        </ul>
    {% else %}
        <br><br>
        <h5 class="heading">You are not the driver for any trip yet.</h5>

    {% endif %}





{% endblock %}