{% extends "capstone/layout.html" %}

{% block body %}
    <div hidden class="alert alert-danger" id="alert">
        
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert" id="alert">
        {{message}}
    </div>
    {% endif %}
    
    <h1>Your Trips</h1>

    {% if p_trips %}
        <h6>Trips in which you are a passenger.</h6>
        <ul>
        {% for trip in p_trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">
             <div><strong>Origin:</strong> {{trip.origin.id_state.state_name}}, {{trip.origin.city}}</div>
             <div><strong>Destination:</strong> {{trip.destination.id_state.state_name}}, {{trip.destination.city}}</div> 
             <div><strong>Departure</strong> {{trip.date}} at {{trip.time}}</div>
            </a>
        </li><hr>
        {% endfor %}
        </ul>
    {% else %}

        <h5>You are not a passener for any trip yet.</h5>
    {% endif %}

    {% if d_trips %}
        <h6>Trip in chich you are a driver:</h6>
        <ul>
        {% for trip in d_trips %}
        <li>
            <a href="{% url 'trip' trip.id %}">
             <div><strong>Origin:</strong> {{trip.origin.id_state.state_name}}, {{trip.origin.city}}</div>
             <div><strong>Destination:</strong> {{trip.destination.id_state.state_name}}, {{trip.destination.city}}</div> 
             <div><strong>Departure</strong> {{trip.date}} at {{trip.time}}</div>
            </a>
        </li><hr>
        {% endfor %}
        </ul>
    {% else %}

        <h5>You are not the driver for any trip yet.</h5>

    {% endif %}





{% endblock %}